
@model POS.ViewModel.AddMealViewModel

@{
    ViewBag.Title = "Create Employee";
}

@*To support file upload set the form element enctype="multipart/form-data" *@

    <section id="createMeal">
        <form class="container py-3" enctype="multipart/form-data" asp-controller="meals" asp-action="create">
            <h2 class="text-gradient h1 py-1">Create Meal</h2>
            <hr>
            <div class="row mx-2">

                <div class="col-12 position-relative">
                    <label class="text-gradient font-weight-bold">Category</label>
                    <select asp-for="Category.Id" class="form-control .nice-select w-100 text-gradient2" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                    <span asp-validation-for="Category.Id" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label class="text-gradient font-weight-bold">Meal Name</label>
                    <input asp-for="Name" type="text" class="form-control">
                </div>
                <div class="col-12">
                    <div style="width: -moz-fit-content; width: fit-content;">
                        <input asp-for="HasSize" type="checkbox" id="box-1">
                        <label for="box-1" class="text-gradient font-weight-bold">Has Size</label>
                    </div>
                </div>
                
                <div class="col-12 price">
                    <label class="text-gradient font-weight-bold">Price</label>
                    <input asp-for="Price" class="form-control">
                </div>
                <div class="col-12">
                    <label asp-for="MealImage" class="text-gradient font-weight-bold"></label>

                    <div class="custom-file">
                        <input asp-for="MealImage" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File ...</label>
                    </div>
                </div>

                <button class="btn btn-block bg-gradient text-white mt-3">Create</button>
            </div>
        </form>
    </section>


    @*This script is required to display the selected file in the file upload element*@

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
            $("#box-1").click(function () {
                if ($(this).is(":checked")) {
                    $(".price").hide();

                } else {
                    $(".price").show();

                }
            });
        </script>
    }
