@model CancelOrderVM

<form asp-action="CancelOrder" method="post">
    <h3>ARE YOU SURE TO CANCEL ORDER</h3>
    <input asp-for="order.Id" class="form-control"  />
    <h3>Branch Name</h3>
    <input class="form-control"  asp-for="BranchName" /> 
    <button class="btn btn-outline-danger cancelorder" type="submit">
        CANCEL ORDER
    </button>
    <button class="btn btn-dark" asp-action="Index">BACK TO HOLD</button>
</form>